$primary: #11998e;
$secondary: #2cc768;
$white: #fff;
$gray: #1b9d7c;
.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 100%;

}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 8px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.msgtext {

    .form {
        display: flex;
        align-items: center;
        gap: 48px;
        padding:0 48px;

        .send {

            cursor: pointer;
            background-color: #1b9d53;
            border: none;
            font-weight: bold;
            font-size: 20px;
            padding: 12px 20px;
            border-radius: 16px;
            color: white;

            &:hover {
              background-color: #20b862;
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}